
.header{
  display: flex;
  align-items: center;
}

.header img{
  padding-right: 2em;
}

.carousel{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-inner{
  max-width: 800px;
}

@media(max-width: 800px){
  .carousel-item img{
    max-width: 100%;
  }

  .header{
    align-items: start;
  }

  .header img{
    padding: 0;
    align-items: start;
  }

  .header h1{
    font-size: 120%;
  }

  .header p{
    font-size: 70%;
  }


  

 
}
